<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TestTCP1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="ConnString" value="Data Source=HPE\SQLEXPRESS;Initial Catalog=WPL;Integrated Security=True"/>
	</appSettings>
 <userSettings>
  <TestTCP1.Properties.Settings>
   <setting name="ServerPort" serializeAs="String">
    <value>8501</value>
   </setting>
   <setting name="SaveImageDirName" serializeAs="String">
    <value>images/</value>
   </setting>
   <setting name="NgImageDirName" serializeAs="String">
    <value>ng/</value>
   </setting>
   <setting name="LogPath" serializeAs="String">
    <value>log/</value>
   </setting>
   <setting name="MarkSaveDir" serializeAs="String">
    <value>markImg/</value>
   </setting>
   <setting name="ServerIpAddress" serializeAs="String">
    <value>192.168.0.10</value>
   </setting>
   <setting name="ImageDirName" serializeAs="String">
    <value>C:\Users\hpe2_\Documents\ftp\cv-x\image\</value>
   </setting>
   <setting name="DelaySettingParameter" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="DelayDashboardProcess" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="CameraDelay" serializeAs="String">
    <value>3000</value>
   </setting>
   <setting name="NgCameraDelay" serializeAs="String">
    <value>2500</value>
   </setting>
   <setting name="DebugLogPath" serializeAs="String">
    <value>debug-log/</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>L52Xc2qyPiNA1l17gPloyiLGvmELedNN2X+p0JG7Dbe1TQAgLtXihProA+4Z9Y0C2b+yLxsW+TZ+3hhL8Bi/Ww==</value>
   </setting>
   <setting name="SNResultDelay" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="SNResultPath" serializeAs="String">
    <value>result/</value>
   </setting>
  </TestTCP1.Properties.Settings>
 </userSettings>
</configuration>