USE [master]
GO
/****** Object:  Database [flexbt]    Script Date: 05-Aug-24 03:50:05 PM ******/
CREATE DATABASE [flexbt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'flexbt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\flexbt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'flexbt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\flexbt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [flexbt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [flexbt]
GO
/****** Object:  Table [dbo].[Tbl_campoint]    Script Date: 05-Aug-24 03:50:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_campoint](
	[Model] [nvarchar](64) NOT NULL,
	[CameraPoint] [int] NOT NULL,
	[Pitching] [decimal](18, 2) NULL,
	[PitchingY] [decimal] (18,2) NULL,
	[CavityTotal] [int] NULL,
 CONSTRAINT [PK_Tbl_campoint_1] PRIMARY KEY CLUSTERED 
(
	[Model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_data]    Script Date: 05-Aug-24 03:50:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_data](
	[Model] [nvarchar](64) NOT NULL,
	[Position] [int] NOT NULL,
	[X] [decimal](18, 2) NOT NULL,
	[Y] [decimal](18, 2) NOT NULL,
	[Z] [decimal](18, 2) NOT NULL,
	[AreaInspection] [nvarchar](128) NULL,
	[CameraCheckpoint] [nvarchar](48) NOT NULL,
	[isActive] [tinyint] NULL,
 CONSTRAINT [PK_tbl_data] PRIMARY KEY CLUSTERED 
(
	[Model] ASC,
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_image]    Script Date: 05-Aug-24 03:50:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_image](
	[model] [nvarchar](64) NOT NULL,
	[position] [int] NOT NULL,
	[imageName] [nvarchar](1024) NOT NULL,
 CONSTRAINT [PK_tbl_image] PRIMARY KEY CLUSTERED 
(
	[model] ASC,
	[position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_MarkPoint]    Script Date: 05-Aug-24 03:50:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MarkPoint](
	[Model] [nvarchar](64) NOT NULL,
	[Position] [int] NOT NULL,
	[AreaInspection] [nvarchar](128) NULL,
	[X] [float] NOT NULL,
	[Y] [float] NOT NULL,
	[ImageName] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Tbl_MarkPoint] PRIMARY KEY CLUSTERED 
(
	[Model] ASC,
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_record]    Script Date: 05-Aug-24 03:50:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_record](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](64) NOT NULL,
	[Position] [int] NOT NULL,
	[X] [decimal](18, 2) NOT NULL,
	[Y] [decimal](18, 2) NOT NULL,
	[Z] [decimal](18, 2) NOT NULL,
	[AreaInspection] [nvarchar](128) NOT NULL,
	[CameraCheckpoint] [nvarchar](48) NOT NULL,
	[ProcessDate] [datetime] NOT NULL,
	[Judgement] [nvarchar](64) NOT NULL,
	[scancode] [nvarchar](64) NOT NULL,
	[filename] [text] NULL,
	[reason] [text] NULL,
 CONSTRAINT [PK_tbl_record] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_data] ADD  CONSTRAINT [DF_tbl_data_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Tbl_campoint]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_campoint_Tbl_campoint] FOREIGN KEY([Model])
REFERENCES [dbo].[Tbl_campoint] ([Model])
GO
ALTER TABLE [dbo].[Tbl_campoint] CHECK CONSTRAINT [FK_Tbl_campoint_Tbl_campoint]
GO
ALTER TABLE [dbo].[tbl_image]  WITH CHECK ADD  CONSTRAINT [FK_tbl_image_tbl_image] FOREIGN KEY([model], [position])
REFERENCES [dbo].[tbl_image] ([model], [position])
GO
ALTER TABLE [dbo].[tbl_image] CHECK CONSTRAINT [FK_tbl_image_tbl_image]
GO
USE [master]
GO
